.app__signin{
    margin: 0;
    padding: 4rem;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(108,180,238,1) 0%, rgba(255,166,201,1) 100%);
    height: 100vh;
}
.error{
    color: #ff0000;
    font-size:small;
}
.app__signin-contain{
    display: flex;
    height: 80vh;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 2rem 2rem 2rem 2rem;
    -webkit-box-shadow: 1px 4px 20px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 4px 20px -6px rgba(66, 68, 90, 1);
    box-shadow: 1px 4px 20px -6px rgba(66, 68, 90, 1);

    position: relative;
}
.app__signin-contain__picture{
    position: absolute;
    right: -6.7%;
    bottom: 2rem;
    height: 25rem;
    width: 50rem;
}
.app__signin-contain__picture img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.app__signin-contain__left{
    display: flex;
    width: 70%;
    background-color: #fff;
    border-radius: 2rem 0rem 0rem 2rem;
}
.app__signin-contain__left-content{
    height: auto;
    background-color: transparent;
    width: 65%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.app__signin-contain__left-content h1{
    padding: 1rem 0;
    margin: 0.5rem 0;
}
.field__group{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.field__group label{
    padding: 0.2rem 0;
    font-size: normal;
}
.pwd__contain{
    display: flex;
}
.pwd__contain input,.field__group input{
    width: 100%;
    outline: none;
    border: none;
    height: 2rem;
    background-color: rgba(255,166,201,1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #000;
}
.pwd__contain sup{
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.3rem;
    cursor: pointer;
}
.app__signin-contain__left-content button{
    width: 7rem;
    padding: 0.5rem;
    color: #fff;
    background-color: rgba(255,166,201,1);
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem 0rem 1rem 7rem;
}

.app__signin-contain__left-top{
    display: flex;
    flex-direction: column;
}
.app__signin-contain__left-top span{
    margin: 1rem 0;
    color: rgba(255,166,201,1);
    font-size:x-large;
    font-weight: 600;
}
.app__signin-contain__right{
    height: auto;
    width: 30%;
    background-color: #6cb4ee;
    border-radius: 1.5rem 2rem 2rem 1.5rem;
}

@media screen and (max-width: 1201px) and (max-width: 1400px){
    .app__signin-contain__picture{
        right: -2;
        height: 18rem;
        width: 100rem;
    }
    .app__signin-contain__left{
        justify-content: flex-start;
        align-items: center;
    }
    .app__signin-contain__left-content{
        font-size: 0.8rem;
    }
    .pwd__contain input,.field__group input{
        font-size: 0.7rem;
        height: 1.5rem;
        width: 100%;
    }
    .app__signin-contain__left-content button{
        font-size: 0.7rem;
        margin-left: 1.1rem;
        width: 5.4rem;
    }
}
@media screen and (max-width: 1025px) and (max-width: 1200px){
    .app__signin-contain__picture{
        right: 2%;
        height: 20rem;
        width: 20rem;
        margin-bottom: -3rem;
    }
    .app__signin-contain__left{
        justify-content: flex-start;
        align-items: center;
    }
    .app__signin-contain__left-content{
        font-size: 0.8rem;
    }
    .pwd__contain input,.field__group input{
        font-size: 0.7rem;
        height: 1.5rem;
        width: 100%;
    }
    .app__signin-contain__left-content button{
        font-size: 0.7rem;
        margin-left: 1.1rem;
        width: 5.4rem;
    }
}
@media screen and (max-width: 769px) and (max-width: 1024px){
    .app__signin-contain__picture{
        right: 2%;
        height: 20rem;
        width: 20rem;
        margin-bottom: -3rem;
    }
    .app__signin-contain__left{
        justify-content: flex-start;
        align-items: center;
    }
    .app__signin-contain__left-content{
        font-size: 0.8rem;
    }
    .pwd__contain input,.field__group input{
        font-size: 0.7rem;
        height: 1.5rem;
        width: 100%;
    }
    .app__signin-contain__left-content button{
        font-size: 0.7rem;
        margin-left: 1.1rem;
        width: 5.4rem;
    }
}
@media screen and (max-width: 481px) and (max-width: 768px){
    .app__signin-contain__right,.app__signin-contain__picture{
        display: none;
    }
    .app__signin-contain__left{
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
    }
    .app__signin-contain__left-content{
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
        /* justify-content: center;
        align-items: center; */
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        font-size: 0.5rem;
        height: 1.5rem;
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin-left: 1rem;
        font-size: 0.6rem;
        width: 5.2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .app__signin-contain__left-top span,.app__signin-contain__left-top h5{
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 320px) and (max-width: 480px){
    .app__signin-contain__right,.app__signin-contain__picture{
        display: none;
    }
    .app__signin-contain__left{
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
    }
    .app__signin-contain__left-content{
        margin: 0;
        padding: 0;
        font-size: 0.7rem;
        /* justify-content: center;
        align-items: center; */
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        font-size: 0.5rem;
        height: 1.5rem;
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin-left: 1rem;
        font-size: 0.6rem;
        width: 5.2rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }
    .app__signin-contain__left-top span,.app__signin-contain__left-top h5{
        font-size: 0.6rem;
    }
}
/* @media screen and (max-width: 1280px){       //Nest Hub Max
    
    .app__signin-contain__picture{
        right: 3%;
        bottom: 2rem;
        height: 28rem;
        width: 35rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 7.5rem;
    }
}
@media screen and (max-width: 1201px){
    .app__signin-contain__picture{
        right: 3%;
        bottom: 1rem;
        height: 22rem;
        width: 25rem;
    }
}
@media screen and (max-width: 1024px){      //Nest Hub
    .app__signin-contain__picture{
        bottom: 4rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 4.9rem;
    }
}
@media screen and (max-width: 912px){      //Surface Pro 7
    .app__signin-contain__picture{
        top: 9%;
        left: 4%;
        height: 25rem;
        width: 22rem;
    }
    .app__signin-contain__left{
        margin-top: 13rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 3.2rem;
    }
}
@media screen and (max-width:820px){    //IPad Air
    .app__signin-contain__picture{
        top: 4%;
        left: 4%;
        height: 25rem;
        width: 22rem;
    }
    .app__signin-contain__left{
        margin-top: 13rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 768px){   //iPad Mini
    .app__signin-contain__picture{
        top: 1%;
        left: 4%;
        height: 25rem;
        width: 22rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 1.2rem;
    }
}
@media screen and (max-width: 540px){   //Surface Duo
    .app__signin-contain__picture,.app__signin-contain__right{
        display: none;
    }
    .app__signin-contain__left{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border-radius: 2rem;
    }
    .app__signin-contain__left-content{
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin-left: 5.05rem;
    }
}
@media screen and (max-width: 414px){   //iPhone XR
    .app__signin-contain__left{
        width: 100%;
        height:80vh;
        justify-content: center;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 4.25rem;
    }
}
@media screen and (max-width: 412px){   // Galaxy A51/71
    .app__signin-contain__left{
        width: 100%;
        height: 78vh;
    }
    .app__signin-contain__left-content button{
        margin-left: 4.25rem;
    }
}
@media screen and (max-width: 393px){   //Pixel 5
    .app__signin-contain__left{
        width: 100%;   
    }
    .app__signin-contain__left-content button{
        margin-left: 3.6rem;
    }
}
@media screen and (max-width: 390px){   //iPhone 12 pro
    .app__signin-contain__left{
        width:100%;
        height: 80vh;
    }
    .app__signin-contain__left-content button{
        margin-left: 3.4rem;
    }
}
@media screen and (max-width: 375px){   //iPhone SE
    .app__signin-contain__left{
        width: 100%;
        height: 72vh;
        justify-content: center;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .app__signin-contain__left-content button{
        margin-left: 3.5rem;
    }
}
@media screen and (max-width: 360px){   //Galaxy S8+
    .app__signin-contain__left{
        width: 100%;
        height: 78vh;   
    }
    .app__signin-contain__left-content button{
        margin-left: 3.05rem;
    }
}
@media screen and (max-width: 280px){   //Galaxy Fold
    .app__signin-contain__left{
        width: 100%; 
        height: 80vh; 
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        font-size: 0.5rem;
        height: 1rem;
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin-left: 0.75rem;
        width: 4.8rem;
    }
} */



/* @media screen and (max-width: 1259px){
    .app__signin-contain__picture{
        right: -3%;
        bottom: 2rem;
        height: 22rem;
        width: 45rem;
    }
    /* .app__signin-contain__picture img{

    } 
}*/
/* @media screen and (max-width: 1225px) {
    .app__signin-contain__picture{
        right: -3%;
        bottom: 2rem;
        height: 21rem;
        width: 40rem;
    }
}
@media screen and (max-width: 1087px){
    .app__signin-contain__picture{
        right: -3%;
        bottom: 2rem;
        height: 20rem;
        width: 35rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 5rem;
    }
}
@media screen and (max-width: 1024px) {
    .app__signin-contain__picture{
        right: -3%;
        height: 19.5rem;
        width: 35rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 4.5rem;
    }
}
@media screen and (max-width: 996px){
    .app__signin-contain__picture{
        right: -1%;
        height: 20rem;
        width: 30rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 3.6rem;
    }
}
@media screen and (max-width: 970px){
    .app__signin-contain__picture{
        right: 5%;
        bottom: 1rem;
        height: 20rem;
        width: 24rem;
    }
}
@media screen and (max-width: 900px){
    .app__signin-contain__picture,.app__signin-contain__right{
        display: none;
    }
    .app__signin-contain__left{
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .app__signin-contain__left-content{
        width: 100%;
        margin-right: 0rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
        font-size: 0.8rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 5.8rem;
    }
    .app__signin-contain__left-content{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .app__signin-contain__picture{
        display: none;
    }
    .app__signin-contain__left-content{
        width: 30rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 3.6rem;
    }
    .app__signin-contain__left-content{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (max-width: 720px){ */
     /* .app__signin-contain__right{
        display: none;
    }  
    .app__signin-contain__left-content{
        width: 27rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 4.5rem;
    }
    .app__signin-contain__left-content{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (max-width: 681px){
    .app__signin-contain__left-top span{
        font-size: large;
    }
    .app__signin-contain__left-top h5{
        width: 10rem;
    }
    .app__signin-contain__left-content h1{
        width: 10rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 16rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 3.8rem;
    }
}
@media screen and (max-width: 556px){
    .app__signin-contain__left-content{
        justify-content: center;
        align-items: center;
        width: 20rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
}
@media screen and (max-width:425px){
    .app__signin-contain__left-content{
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        margin: 0;
        padding: 3.3rem;
    }
    .app__signin-contain__left-top span,.app__signin-contain__left-top h5,.app__signin-contain__left-content h1{
        font-size: 0.7rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        font-size: 0.6rem;
    }
    .app__signin-contain__left-content h1{
        font-size: 1rem;
    }
    .app__signin-contain__left-content button{
        font-size: 0.7rem;
        padding: 0.4rem 0.5rem;
        width: 5.7rem;
        margin-left: 1.9rem;
    }
}
@media screen and (max-width: 375px){
    .app__signin-contain__left-content{
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
        padding-left: 2rem;
        padding-right: 0rem;
        
        font-size: 0.8rem;
        height: 70vh;
    }
    .app__signin-contain__left-top span,.app__signin-contain__left-top h5,.app__signin-contain__left-content h1{
        font-size: 0.7rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        font-size: 0.6rem;
    }
    .app__signin-contain__left-content h1{
        font-size: 1rem;
    }
    .app__signin-contain__left-content button{
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
        width: 5.5rem;
        margin-left: 2.1rem;
    }
}
@media screen and (max-width: 320px){
    .app__signin-contain__left-content{
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        
        font-size: 0.8rem;
        height: 70vh;
    }
    .app__signin-contain__left-top span,.app__signin-contain__left-top h5,.app__signin-contain__left-content h1{
        font-size: 0.7rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        font-size: 0.6rem;
    }
    .app__signin-contain__left-content h1{
        font-size: 0.8rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 2rem;
        font-size: 0.7rem;
        padding: 0.3rem 0.5rem;
        width: 5.5rem;
    }
} */
/* @media screen and (max-width: 1024px) {
    .app__signin-contain__picture{
        right: -9%;
        bottom: 1.5rem;
        height: 20rem;
        width: 40rem;
    }
    .app__signin-contain__left-content button{
        width: 7rem;
        /* padding: 0.5rem;
        color: #fff;
        background-color: rgba(255,166,201,1);
        border: none;
        outline: none;
        border-radius: 1rem; 
        cursor: pointer;
        margin: 0.2rem 0rem 1rem 4.5rem;
    }
} */
