.app__signin{
    margin: 0;
    padding: 4rem;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(108,180,238,1) 0%, rgba(255,166,201,1) 100%);
    height: 100vh;
}
.error{
    color: #ff0000;
    font-size:small;
}
.app__signin-contain{
    display: flex;
    height: 80vh;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 2rem 2rem 2rem 2rem;
    -webkit-box-shadow: 1px 4px 20px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 4px 20px -6px rgba(66, 68, 90, 1);
    box-shadow: 1px 4px 20px -6px rgba(66, 68, 90, 1);

    position: relative;
}
.app__signin-contain__picture{
    position: absolute;
    right: -6.7%;
    bottom: 2rem;
    height: 25rem;
    width: 50rem;
}
.app__signin-contain__picture img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.app__signin-contain__left{
    display: flex;
    width: 70%;
    background-color: #fff;
    border-radius: 2rem 0rem 0rem 2rem;
}
.app__signin-contain__left-content{
    height: auto;
    background-color: transparent;
    width: 65%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
}

.app__signin-contain__left-content h1{
    padding: 1rem 0;
    margin: 0.5rem 0;
}
.field__group{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.field__group label{
    padding: 0.2rem 0;
    font-size: normal;
}
.pwd__contain{
    display: flex;
}
.pwd__contain input,.field__group input{
    width: 100%;
    outline: none;
    border: none;
    height: 2rem;
    background-color: rgba(255,166,201,1);
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: #000;
}
.pwd__contain sup{
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.3rem;
    cursor: pointer;
}
.app__signin-contain__left-content button{
    width: 7rem;
    padding: 0.5rem;
    color: #fff;
    background-color: rgba(255,166,201,1);
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem 0rem 1rem 7rem;
}

.app__signin-contain__left-top{
    display: flex;
    flex-direction: column;
}
.app__signin-contain__left-top span{
    margin: 1rem 0;
    color: rgba(255,166,201,1);
    font-size:x-large;
    font-weight: 600;
}
.app__signin-contain__right{
    height: auto;
    width: 30%;
    background-color: #6cb4ee;
    border-radius: 1.5rem 2rem 2rem 1.5rem;
}

@media screen and (max-width: 1259px){
    .app__signin-contain__picture{
        right: -3%;
        bottom: 2rem;
        height: 22rem;
        width: 45rem;
    }
    /* .app__signin-contain__picture img{

    } */
}
@media screen and (max-width: 1225px) {
    .app__signin-contain__picture{
        right: -3%;
        bottom: 2rem;
        height: 21rem;
        width: 40rem;
    }
}
@media screen and (max-width: 1087px){
    .app__signin-contain__picture{
        right: -3%;
        bottom: 2rem;
        height: 20rem;
        width: 35rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 5rem;
    }
}
@media screen and (max-width: 1024px) {
    .app__signin-contain__picture{
        right: -3%;
        height: 19.5rem;
        width: 35rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 4.5rem;
    }
}
@media screen and (max-width: 996px){
    .app__signin-contain__picture{
        right: -1%;
        height: 20rem;
        width: 30rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 3.6rem;
    }
}
@media screen and (max-width: 970px){
    .app__signin-contain__picture{
        right: 5%;
        bottom: 1rem;
        height: 20rem;
        width: 24rem;
    }
}
@media screen and (max-width: 900px){
    .app__signin-contain__picture{
        display: none;
    }
    .app__signin-contain__left-content{
        width: 30rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 5.8rem;
    }
    .app__signin-contain__left-content{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .app__signin-contain__picture{
        display: none;
    }
    .app__signin-contain__left-content{
        width: 30rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 3.6rem;
    }
    .app__signin-contain__left-content{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (max-width: 720px){
    .app__signin-contain__right{
        display: none;
    }
    .app__signin-contain__left-content{
        width: 27rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 4.5rem;
    }
    .app__signin-contain__left-content{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (max-width: 681px){
    .app__signin-contain__left-top span{
        font-size: large;
    }
    .app__signin-contain__left-top h5{
        width: 10rem;
    }
    .app__signin-contain__left-content h1{
        width: 10rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 16rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 3.8rem;
    }
}
@media screen and (max-width: 556px){
    .app__signin-contain__left-content{
        justify-content: center;
        align-items: center;
        width: 20rem;
    }
    .pwd__contain input,.field__group input,.pwd__contain{
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    .app__signin-contain__left-content{
        justify-content: center;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding: 1rem 0rem;
        font-size: 0.8rem;
    }
    .app__signin-contain__left-content button{
        margin: 0.2rem 0rem 1rem 2rem;
        font-size: 0.8rem;
        padding: 0.4rem;
    }
}
/* @media screen and (max-width: 1024px) {
    .app__signin-contain__picture{
        right: -9%;
        bottom: 1.5rem;
        height: 20rem;
        width: 40rem;
    }
    .app__signin-contain__left-content button{
        width: 7rem;
        /* padding: 0.5rem;
        color: #fff;
        background-color: rgba(255,166,201,1);
        border: none;
        outline: none;
        border-radius: 1rem; 
        cursor: pointer;
        margin: 0.2rem 0rem 1rem 4.5rem;
    }
} */
